version: "3"

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: django
      MYSQL_DATABASE: django
      MYSQL_USER: django
      MYSQL_PASSWORD: django

  web:
    build: .
    command: sh -c "./wait-for-it.sh db:3306 -t 60 -- python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/var/www/webapp
    ports:
      - "8000:8000"
    depends_on:
      - db
